<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QlCafePoly"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ListHoaDon"
            android:exported="false" />
        <activity
            android:name=".ItemHoaDon"
            android:exported="false" />
        <activity
            android:name=".QuanLyHoaDon"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".TrangQuanLyHoaDon"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".ThemDoUongKhac"
            android:exported="false" />
        <activity
            android:name=".ThemTraSua"
            android:exported="false" />
        <activity
            android:name=".admin.ThemDoUong"
            android:exported="false" />
        <activity
            android:name=".ThemNuocEp"
            android:exported="false" />
        <activity
            android:name=".dangnhap.DoiMatKhau"
            android:exported="false" />
        <activity
            android:name=".admin.AdminKho"
            android:exported="false"/>
        <activity
            android:name=".dangnhap.Dangnhapnhanvien"
            android:exported="false" />
        <activity
            android:name=".admin.ThongTinHangNhap"/>
        <activity
            android:name=".admin.Trangmilktea"
            android:exported="false" />
        <activity
            android:name=".admin.Trangfruit"
            android:exported="false" />
        <activity
            android:name=".admin.Trangcoffee"
            android:exported="false" />
        <activity
            android:name=".admin.ThemNhanVien"
            android:exported="false" />
        <activity
        android:name=".admin.Trangdouongkhac"
        android:exported="false" />
        <activity
            android:name=".admin.Quanlynv"
            android:exported="false" />
        <activity
            android:name=".admin.QuanLyDoUong"
            android:exported="false" />
        <activity
            android:name=".admin.ItemDoUong"
            android:exported="false" />
        <activity
            android:name=".Pay"
            android:exported="false" />
        <activity
            android:name=".admin.MainActivity"
            android:exported="false" />
        <activity
            android:name=".dangnhap.Danhnhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>